/* @assert { type: 'css' }; */

html {
    background-color: rgb(25, 25, 65);
}

#content {
    position: fixed;
    color: white;
    /* width: 100vw;
    height: 100vh; */
    border: 1px solid red;
    min-width: 210px;
}

.mobileMenu {
    /* background-color: grey; */
    text-align: center;
}

.menuItem, .lastMenuItem, .moreMenu, .moreMenuItem {
    padding-top: 16px;
    text-decoration: none;
    border: 3px solid black;
    height: 32px;
    width: 150px;
}

.moreItemsContainer {
    position: relative;
    /* display: flex;
    flex-direction: column; */
}

.moreMenuItem {
    position: absolute;
    /* left: 0; */
    /* top: 54px; */
    /* background-color: grey; */
}

.testing {
    padding-top: 2000px;
}

.flexContainer {
    /* border: 3px solid black; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    /* width: 350px; */
    background-color: grey;

}

.moreTabContainer {
    display: flex;
    flex-direction: column;
    background-color: grey;

}

.moreTabHidden {
    display: none;
}

.moreTabShow {
    display: block;
}

@media screen and (max-width: 540px) {    
    .mobileMenu {
        min-width: 210px;
    }

    /* .menuItem {
        position: relative;
        /* height: 100%; */
    } */
}

@media screen and (max-width: 420px) {
    .flexContainer {
        justify-content: space-between;
    }
    
}